{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "es5"
}
